doctype html
html
  head
    title Trivia
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='./styles.css')
  body
    header.container-fluid.navbar.navbar-fixed-top.headFoot
      .row-fluid
        .col-xs-6
          span#winPer 90%
        .col-xs-6
          span#totQs 1004
    // Main
    main.container-fluid
      // login/signup module
      div
        form.row-fluid.form-control.text-center
          label name
          input#nameSi.form-control(type='text', placeholder='name')
          br
          label password
          input#passSi.form-control(type='password', placeholder='password')
          br
          button#login.btn-primary(type='submit') Login
          br
        form.row-fluid.form-control.text-center
          label What's your name?
          input#name.form-control(type='text', placeholder='Your name')
          br
          label Create a password
          input#pass.form-control(type='password', placeholder='password')
          br
          label Confirm password
          input#passCon.form-control(type='password', placeholder='confirm password')
          br
          button#signUp.btn-primary(type='submit') Submit
    footer.container-fluid.navbar.navbar-fixed-bottom.headFoot.text-center
      | some footer text
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js', type='text/javascript')
    script(type='text/javascript', src='./main.js')
