/*html elements*/
body {
	font-family: 'Advent Pro', sans-serif;
	background-color: yellow;
	height: 100vh;
}
small {
	color: white;
	font-style: italic;
}
header {
	padding-top: 2.5%;
	height: 15%;
	background-color: black;
}
main {
	height: 75%;
}
footer {
	height: 10%;
	color: white;
	background-color: black;
}

/* classes */
.logo {
	font-weight: bolder;
	font-style: italic;
	padding-right: 1%;
	padding-left: 1%;
}
/* id's */
#title {
	color: black;
	background-color: yellow;
	font-size: 200%;
	font-weight: bolder;
}
#loginSignup {
	padding: 10%;
	padding-top: 20%;
}
#loginModule button, #signUpModule button {
	background-color: black;
	color: yellow;
	width: 25%;
	outline: none;
}
#loginModule button:focus, #signUpModule button:focus {
	outline: none;
}
#loginModule input, #signUpModule input {
	background-color: transparent;
	color: black;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: solid black 1px;
	border-radius: 0;
	padding-bottom: 0;
}
#loginModule input:focus, #signUpModule input:focus {
	background-color: transparent;
	color: black;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: solid black 1px;
	border-radius: 0;
	padding-bottom: 0;
}
#newUser, #back {
	color: black;
	font-weight: bold;
	text-decoration: none;

}
#newUser:hover, #back:hover {
	color: yellow;
	background-color: black;
	padding-left: 1%;
	padding-right: 1%;
}
#welcomeMessage {
	font-size: 125%;
	font-weight: bolder;
	color: black;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}
#welcomeHighlight {
	font-style: italic;
	font-weight: bold;
	color: yellow;
	background-color: black;
}
#playNow, #playNow:focus, #nextQ, #nextQ:focus, #true, #true:focus, #false, #false:focus, #A, #A:focus, #B, #B:focus, #C, #C:focus, #D, #D:focus {
	background-color: black;
	color: yellow;
	outline: none;
}
#userStats {
	color: white;
}
#userInfo {

}
#loadingMessage {
	color: black;
}
#game {
	font-family: 'Advent Pro', sans-serif;
	height: 100%;
	width: 100%;
	padding: none;
	box-shadow: inset 0px 0px 22px 10px black;
	padding-top: 1%;
}
#triviaTop, #triviaBottom {
	color: black;
	background-color: transparent;
}
#triviaTop {
	height: auto;
	min-height: 10%;
	padding-top: 2.5%;
}
#triviaBottom {
	height: auto;
}
#category, #difficulty {
	color: yellow;
	background-color: black;
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	border: solid black 2px;
	border-radius: 4px;
}
#triviaQuestion {
	height: auto;
	min-height: 20%;
}
#multipleChoice, #trueFalse {
	height: auto;
	width: 100%;
	margin:none;
	padding: none;
}
#multipleChoice {
	min-height: 30%;
}
.btn-group-vertical {
	width: 100%;
}
.btn-group-vertical button {
	width: 100%;
	height: auto;
}
#A:hover, #B:hover, #C:hover, #D:hover, #nexQ:hover {
	color: black;
	background-color: yellow;
	border: solid black 1px;
}
#question {
	font-weight: bold;
	font-size: 150%;
}
#response {
	font-style: italic;
	font-size: 125%;
	font-weight: bolder;
}


@media all and (min-width: 683px) and (min-resolution: 1dppx) {
	#title {
		font-size: 400%;
	}
	#loginSignup {
		margin-left: 30%;
		margin-right: 30%;
		padding-top: 15%;
	}
	#welcomeMessage {
		font-size: 200%;
		font-weight: bolder;
		color: black;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
	}
}