
/************************************************************************************************/


/*html elements*/
body {
	font-family: 'Advent Pro', sans-serif;
	background-color: yellow;
}
small {
	color: white;
	font-style: italic;
}
header {
	background-color: black;
}
main {
}
footer {
	color: white;
	background-color: black;
}

.logo {
	font-weight: bolder;
	font-style: italic;
}

#title {
	color: black;
	background-color: yellow;
	font-weight: bolder;
}
#loginSignup {
}
#loginModule button,
#signUpModule button {
	background-color: black;
	color: yellow;
	outline: none;
}
#loginModule button:focus,
#signUpModule button:focus {
	outline: none;
}
#loginModule input,
#signUpModule input {
	background-color: transparent;
	color: black;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: solid black 1px;
	border-radius: 0;
}
#loginModule input:focus,
#signUpModule input:focus {
	background-color: transparent;
	color: black;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: solid black 1px;
}
#newUser,
#back {
	color: black;
	font-weight: bold;
	text-decoration: none;

}
#newUser:hover,
#back:hover {
	color: yellow;
	background-color: black;
}
#welcomeMessage {
	font-weight: bolder;
	color: black;
}
#welcomeHighlight {
	font-style: italic;
	font-weight: bold;
	color: yellow;
	background-color: black;
}
#playNow, #playNow:focus,
#nextQ, #nextQ:focus,
#true, #true:focus,
#false, #false:focus,
#A, #A:focus,
#B, #B:focus,
#C, #C:focus,
#D, #D:focus {
	background-color: black;
	color: yellow;
	outline: none;
}
#userStats {
	color: white;
}
#totQs, #perc, #userName {
	color: yellow;
}
#userInfo {
}
#loadingMessage {
	color: black;
}
#game {
	font-family: 'Advent Pro', sans-serif;
	box-shadow: inset 0px 0px 22px 10px black;
}
#triviaTop,
#triviaBottom {
	color: black;
	background-color: transparent;
}
#triviaTop {
}
#category,
#difficulty {
	color: yellow;
	background-color: black;
	border: solid black 2px;
	border-radius: 4px;
}
#triviaQuestion {
}
#multipleChoice,
#trueFalse,
#triviaBottom {
}
#multipleChoice,
#trueFalse,
#triviaBottom {
}
#nextQ {
}
.btn-group-vertical {
}
.btn-group-vertical button {

}
#A:hover, 
#B:hover, 
#C:hover, 
#D:hover, 
#true:hover,
#false:hover,
#nexQ:hover {
	color: black;
	background-color: yellow;
	border: solid black 1px;
}
#question {
	font-weight: bold;
}
#response {
	font-style: italic;
	font-weight: bolder;
}


/*@media only screen
and (min-width : 320px) 
and (max-width: 768px) {
	body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}*/


/*@media only screen
and (min-width : 320px) 
and (max-width: 768px)
and (min-resolution: 2dppx){
	body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen
and (min-width : 320px) 
and (max-width: 768px)
and (orientation: portrait)
and (min-resolution: 2dppx){
	body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}


	@media only screen
and (min-width : 320px) 
and (max-width: 768px)
and (orientation: landscape)
and (min-resolution: 2dppx){
	body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}*/


















































@media only screen
and (min-width : 321px) 
and (max-width: 480px) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}
@media only screen
and (max-width : 320px) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}
/**********
iPad 3
**********/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio : 2) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) 
and (-webkit-min-device-pixel-ratio : 2) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio : 2) {
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPhone 5 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPhone 6 ----------- */
@media only screen 
and (min-device-width: 375px)
and (max-device-height: 667px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-height: 667px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* iPhone 6+ ----------- */
@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-height: 736px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 2){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* Samsung Galaxy S4 ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	mamain {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : landscape) 
and (-webkit-device-pixel-ratio: 3){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 80%;
	}
	footer {
		height: 0%;
		display: none;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}

@media only screen 
and (min-device-width: 360px)
and (max-device-height: 640px) 
and (orientation : portrait) 
and (-webkit-device-pixel-ratio: 3){
body {
		height: 100vh;
	}
	small {
		font-size: 100%;
	}
	header {
		padding: 2.5%;
		padding-top: none;
		height: 20%;
		font-size: 100%;
	}
	main {
		height: 75%;
	}
	footer {
		height: 5%;
	}

	/* classes */
	.logo {
		padding-right: 2%;
		padding-left: 2%;
	}
	/* id's */
	#title {
		font-size: 275%;
		margin-left: 2%; 
	}
	#loginSignup {
		font-size: 200%;
		padding-top: 10%;
	}
	#loginModule button,
	#signUpModule button {
		font-size: 75%;
		width: 33%;
		height: auto;
	}
	#loginModule input,
	#signUpModule input {
		height: auto;
		font-size: 150%;
	}
	#loginModule input:focus,
	#signUpModule input:focus {
		border-radius: 0;
		padding-bottom: 0;
	}
	#newUser,
	#back {

	}
	#newUser:hover,
	#back:hover {
		padding-left: 1%;
		padding-right: 1%;
	}
	#welcomeMessage {
		font-size: 150%;
		width: 100%;
		height: 50%;
		margin-top: 10%;
		padding-left: 10%;
		padding-right: 10%;
		padding-bottom: 5%;
	}
	#playNow {
		margin-top: 0;
		margin-bottom: 8%;
	}
	#welcomeHighlight {
	}
	#userStats {
		padding-left: 2%;
		margin-top: 2%;
	}
	#userInfo {
		font-size: 80%;
	}
	#loadingMessage {
	}
	#game {
		height: 100%;
		width: 100%;
		padding: none;
		padding-top: 2.5%;
	}
	#triviaTop,
	#triviaBottom {
		height: 10%;
	}
	#triviaTop {
		/*padding-top: 2.5%;*/
	}
	#category,
	#difficulty {
		padding-left: 1%;
		padding-right: 1%;
	}
	#triviaQuestion,
	#multipleChoice,
	#trueFalse {
		height: 40%;
	}
	#multipleChoice,
	#trueFalse,
	#triviaBottom {
		font-size: auto;
		width: 100%;
		margin:none;
		padding: none;
	}
	#triviaBottom {
		padding-bottom: 5%;
	}
	#nextQ {
	}
	.btn-group-vertical {
		width: 100%;
		height: inherit;
	}
	.btn-group-vertical button {
		font-weight: bolder;
		border-bottom: solid 2px yellow;
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 100%;
		font-size: 100%;
		height: auto;
	}
	#A:hover, 
	#B:hover, 
	#C:hover, 
	#D:hover, 
	#true:hover,
	#false:hover,
	#nexQ:hover {
		border: none;
	}
	#question {
		font-size: 150%;
		padding-top: 5%;
	}
	#response {
	}
}
