body {
	height: 100vh;
	width: 100%;
	margin: none;
	padding: none;
	background-color: black;
	font-family: 'Advent Pro', sans-serif;
}
header, main, footer {
	width: 100%;
	margin: none;
	padding: none;
	box-shadow:inset 0px 0px 2px 2px black;
}
header {
	height: 15%;
	padding-left: 5%;
	padding-bottom: 2%;
}
sub {
	color: white;
	font-size: 2vh;
}
main {
	height: 80%;
	background-color: yellow;
}
footer {
	color: white;
	height: 5%;
}
footer a {
	color: yellow;
}
footer a:hover {
	color: yellow;
	font-weight: bolder;
	text-decoration: none;
}
h3 {
	font-weight: bold;
}

/* Classes */
.hidden {
	display: none;
}
.logo {
	font-weight: bolder;
	font-style: italic;
	padding-left: 2%;
	padding-right: 2%;
}
.btn-group-vertical button {
	border-bottom: solid .5px yellow;
	padding-top: .25%;
	padding-bottom: .25%;
}

/* ID's */
#title {
	font-size: 5vw;
	color: black;
	background-color: yellow;
	font-weight: bold;
	display: inline-block;
}
#userStats {
	font-size: 2vh;
	color: white;
	margin-bottom: 3%;
	margin-top: 0;
}
#totQs, 
#perc, 
#userName {
	color: yellow;
	font-weight: bolder;
}
/* Main sections Components */
#loginSignup,
#welcomeMessage,
#loadingMessage, 
#game {
	height: 100%;
	width: 100%;
	padding: 5%;
}
#login,
#signUp {
	font-weight: bolder;
	color: yellow;
	background-color: black;
	outline: none;
	margin-top: 10%;
}
#login:hover,
#signUp:hover {
	border: solid black .25px;
	background-color: yellow;
	color: black;
} 
#loginModule input,
#signUpModule input, 
#loginModule input:focus, 
#signUpModule input:focus {
	line-height: 4vh;
	font-size: 3vh;
	background-color: transparent;
	color: black;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: solid black 1px;
	border-radius: 0;
}
#toSignup {
	font-size: 3vh;
}
#newUser,
#back {
	font-size: 3vh;
	color: black;
	font-weight: bold;
	text-decoration: none;

}
#newUser:hover,
#back:hover {
	color: yellow;
	background-color: black;
	padding-left: 1%;
	padding-right: 1%;
}
/* Game Buttons */
#playNow {
	margin-top: 5%;
}

#playNow,
#nextQ, 
#true, 
#false, 
#A, 
#B, 
#C, 
#D {
	color: yellow;
	background-color: black;
	outline: none;
}
#playNow:focus,
#nextQ:focus,
#true:focus,
#false:focus,
#A:focus,
#B:focus,
#C:focus,
#D:focus {
	outline: none;
}
#playNow:hover,
#nextQ:hover,
#true:hover,
#false:hover,
#A:hover,
#B:hover,
#C:hover,
#D:hover {
	background-color: yellow;
	color: black;
	border: solid .5px black;
}
#loadingMessage {
	color: black;
	font-size: 5vh;
}
#welcomeMessage {
	font-size: 3vh;
	font-weight: bold;
	padding-left: 10%;
	padding-right: 10%;
	color: black;
	height: 100%;
}
#welcomeTop {
	line-height: 300%;
	font-size: 4vh;
}
#welcomeHighlight {
	font-style: italic;
	font-weight: bolder;
	color: yellow;
	background-color: black;
}

/* Components of Game Component */
#triviaTop, 
#triviaQuestion, 
#trueFalse, 
#multipleChoice, 
#next {
	margin: none;
	padding: none;
}
#triviaTop {
	height: 10%;
}
#triviaQuestion, 
#trueFalse, 
#multipleChoice, 
#next {
	height: 40%;
}
#multipleChoice {
	font-size: auto;
}
#category, 
#difficulty {
	font-size: 2vh;
	font-weight: bold;
	background-color: black;
	color: yellow;
	padding-left: 2%;
	padding-right: 2%;
}
#question {
	font-size: 3.5vh;
	font-weight: bolder;
}
#response {
	font-style: italic;
	font-weight: bolder;
	font-size: 3vh;
}
